.landing-area {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f5;

    &__inner {
        h1 {
            font-size: 42px;
            margin-bottom: 20px;
            color: #212121;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            font-weight: 700;
        }

        .upload-box {
            background-color: #FFA31A;
            border-radius: 100px;
            position: relative;
            padding: 20px 40px;
            font-size: 18px;
            font-weight: 600;
            border: none;
            cursor: pointer;

            input {
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                cursor: pointer;
            }
        }
    }
}