.jd-editor {
    &-sidebar {
        background-color: #fff;
        // box-shadow: rgba(149, 157, 165, 0.2) 6px 0px 20px 0px;
        width: 100px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;

        ul {

            li {
                text-align: center;
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                padding-top: 10px;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    background-color: #FFA31A;
                }

                img {
                    width: 30px;
                    height: 30px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 14px;
                    margin-left: 5px;
                    font-weight: 400;
                }
            }
        }
    }

    &-center {
        margin-left: 80px;
        margin-right: 360px;
        padding: 30px 60px;
        background-color: #cdcdcd;
        height: calc(100vh - 60px);

        canvas {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform-origin: center center;
            background-color: #cdcdcd;
            padding: 10px;
            border-radius: 3px;
        }
    }

    &-right {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        background-color: #fff;
        // box-shadow: rgba(149, 157, 165, 0.2) -6px 0px 20px 0px;
        padding: 30px;
        height: calc(100vh - 60px);

        .action-grid-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        .action-grid-1 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .download-action {
            position: absolute;
            left: 0;
            width: calc(100% - 20px);
            bottom: 0px;
            padding: 20px 10px;
            border-top: 1px solid #a8a8a8;

            &-flex {
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }
        }
    }
}